<a href="https://colab.research.google.com/github/Nikhlendra3079/BCSE331L-Exploratory-Data-Analysis-Course-Project/blob/main/22BDS0438.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/salemprakash/EDA/main/Data/bank.csv")

In [7]:
print("Dimensions:", df.shape)
print("\nData Types:\n", df.dtypes)
print("\nMissing Values:\n", df.isnull().sum())
print("\nSummary Statistics:\n", df.describe(include="all"))

Dimensions: (11162, 17)

Data Types:
 age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
deposit      object
dtype: object

Missing Values:
 age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

Summary Statistics:
                  age         job  marital  education default       balance  \
count   11162.000000       11162    11162      11162   11162  11162.000000
unique           NaN          12        3          4       2           NaN
top              NaN  management  married  secondary      no           NaN
freq             NaN        2566     6351       5476   10994           NaN
mean       41.231948         NaN      NaN        NaN     NaN   1528.538524
std        11.913369         NaN      NaN        NaN     NaN   3225.413326
min        18.000000         NaN      NaN        NaN     NaN  -6847.000000
25%        32.000000         NaN      NaN        NaN     NaN    122.000000
50%        39.000000         NaN      NaN        NaN     NaN    550.000000
75%        49.000000         NaN      NaN        NaN     NaN   1708.000000
max        95.000000         NaN      NaN        NaN     NaN  81204.000000

       housing   loan   contact           day  month      duration  \
count    11162  11162     11162  11162.000000  11162  11162.000000
unique       2      2         3           NaN     12           NaN
top         no     no  cellular           NaN    may           NaN
freq      5881   9702      8042           NaN   2824           NaN
mean       NaN    NaN       NaN     15.658036    NaN    371.993818
std        NaN    NaN       NaN      8.420740    NaN    347.128386
min        NaN    NaN       NaN      1.000000    NaN      2.000000
25%        NaN    NaN       NaN      8.000000    NaN    138.000000
50%        NaN    NaN       NaN     15.000000    NaN    255.000000
75%        NaN    NaN       NaN     22.000000    NaN    496.000000
max        NaN    NaN       NaN     31.000000    NaN   3881.000000

            campaign         pdays      previous poutcome deposit
count   11162.000000  11162.000000  11162.000000    11162   11162
unique           NaN           NaN           NaN        4       2
top              NaN           NaN           NaN  unknown      no
freq             NaN           NaN           NaN     8326    5873
mean        2.508421     51.330407      0.832557      NaN     NaN
std         2.722077    108.758282      2.292007      NaN     NaN
min         1.000000     -1.000000      0.000000      NaN     NaN
25%         1.000000     -1.000000      0.000000      NaN     NaN
50%         2.000000     -1.000000      0.000000      NaN     NaN
75%         3.000000     20.750000      1.000000      NaN     NaN
max        63.000000    854.000000     58.000000      NaN     NaN

In [ ]:
df = df.drop_duplicates()

In [ ]:
numeric_cols = df.select_dtypes(include=["int64", "float64"]).columns
categorical_cols = df.select_dtypes(include=["object"]).columns

In [ ]:
for col in numeric_cols:
    plt.figure(figsize=(6, 4))
    sns.histplot(df[col], kde=True)
    plt.title(f"Distribution of {col}")
    plt.show()

In [ ]:
for col in categorical_cols:
    plt.figure(figsize=(6, 4))
    sns.countplot(data=df, x=col, order=df[col].value_counts().index)
    plt.title(f"Count of {col}")
    plt.xticks(rotation=45)
    plt.show()

In [ ]:
target = "deposit"

In [ ]:
for col in numeric_cols:
    plt.figure(figsize=(6, 4))
    sns.boxplot(data=df, x=target, y=col)
    plt.title(f"{col} vs {target}")
    plt.show()

In [ ]:
for col in categorical_cols:
    if col != target:
        plt.figure(figsize=(6, 4))
        sns.countplot(data=df, x=col, hue=target)
        plt.title(f"{col} vs {target}")
        plt.xticks(rotation=45)
        plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
corr = df[numeric_cols].corr()
sns.heatmap(corr, annot=True, cmap="coolwarm")
plt.title("Correlation Heatmap")
plt.show()

In [ ]:
sns.pairplot(df[numeric_cols])
plt.show()